<!DOCTYPE html>
<html>
<head>
  <title>To-Do lists</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/static/base.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
  <nav class='navbar navbar-default' role='navigation'>
      <a href="/" class="navbar-brand">Superlists</a>
      {% if user.email %}
      <ul class="nav navbar-nav">
          <li><a href='{% url "my_lists" user.email %}'>My lists</a>
      </ul>
        <a class='btn navbar-btn navbar-right' id='id_logout' href='{% url "logout" %}'>logout</a>
        <span class='navbar-text navbar-right'>Logged in as {{ user.email }}</span>
      {% else %}
      <a class='button navbar-button navbar-right' id='id_login' href="#">Sign in</a>
      {% endif %}
  </nav>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3 jumbotron'>
      <div class='text-center'>
        <h1>{% block header_text %}{% endblock %}</h1>
        {% block list_form %}
        <form method='POST' action='{% block form_action %}{% endblock %}'>
          {{ form.text }}
          {% csrf_token %}
          {% if form.errors %}
          <div class='form-group has-error'>
            <span class='help-block'>{{ form.text.errors}}</span>
          </div>
          {% endif %}
        </form>
        {% endblock %}
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      {% block table %}
      {% endblock table %}
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      {% block extra_content %}
      {% endblock extra_content %}
    </div>
  </div>

</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/list.js"></script>
<script src="https://login.persona.org/include.js"></script>
<script src="/static/accounts.js"></script>
<script>
/*global $, Superlists, navigator */
$(document).ready(function() {

    var urls = {login: "{% url 'persona_login' %}",
                logout: "TODO"
    };
    var currentUser = "{{ user.email }}" || null;
    var csrf_token = "{{ csrf_token }}";
    Superlists.Accounts.initialize(navigator, currentUser, csrf_token, urls);
//     var loginLink = document.getElementById('login');
//     if(loginLink) {
//         loginLink.onclick = function() { navigator.id.request(); };
//     }
//     var logoutLink = document.getElementById('logout');
//     if(logoutLink) {
//         logoutLink.onclick = function() { navigator.id.logout();};
//     }
//     console.log(currentUser);
// 
//     navigator.id.watch({
//         loggedInUser: currentUser,
//         onlogin: function(assertion) {
//             $.post(urls.login, {assertion: assertion, csrfmiddlewaretoken: csrf_token })
//                 .done(function() { window.location.reload(); })
//                 .fail(function() { navigator.id.logout(); });
//         },
//         onlogout: function(){
//             $.post(urls.logout)
//                 .always(function() { window.location.reload();  }) 
//         }
//     });
});
</script>
</body>
</html>

